<div class="contenido">
  <form [formGroup]="referenciapdfForm">
      <input class="input-file" type="file" name="file" id="file" accept=".pdf" (change)="subir($event)" formArrayName="pdfArray" multiple>
      <label for="file" class="btn btn-light">
        <span class="js-fileName">Subir archivo(s) PDF</span>
      </label>
      <div class="mt-3">
        <label class="form-label">Nombre archivo</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="File-name" formControlName="nameFile">
          <span class="input-group-text">.pdf</span>
        </div>
      </div>
  </form>
  <ng-container *ngIf="arrayBase.length > 0; else vacio">
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let file of referenciapdfForm.controls['pdfArray'].value; let i = index" cdkDrag>
        {{i+1}} - {{file.name}}
        <button mat-mini-fab (click)="elminar(i)" color="warn">
            <mat-icon>X</mat-icon>
        </button>
      </div>
    </div>
  </ng-container>
  <ng-template #vacio>
    <div class="mensaje-vacio">
      No hay archivos
    </div>
  </ng-template>
  <button mat-stroked-button [disabled]="!referenciapdfForm.valid || arrayBase.length === 0" (click)="mergePDF()">Merge</button>
</div>
<div class="contenido-btn">
    <a href="https://luizun.com/#/cv/Inicio" target="_blank">by Luizun</a>
    /2021/
</div>